<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>

    <script src="https://kit.fontawesome.com/359284d803.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/mediaQueries.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/article.css">

</head>

<body>

    <!-- header -->


    <%- include("./partials/header.ejs") %>



        <!-- main -->

        <section class="article">
            <h1><%= selectedArticle.title %> </h1>

            <h2><%= selectedArticle.subtitle %> </h2>

            <p><%= selectedArticle.date %></p>


            <div class="articleBody">

                <div class="articleMain">

                    <p class="articleParagragh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eius ab,
                        velit laborum, illum doloremque vel in sapiente assumenda tenetur consequatur, amet accusamus
                        illo?
                        Pariatur nobis magni dicta ea temporibus.</p>

                    <p class="articleParagragh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eius ab,
                        velit laborum, illum doloremque vel in sapiente assumenda tenetur consequatur, amet accusamus
                        illo?
                        Pariatur nobis magni dicta ea temporibus.</p>


                    <p class="articleParagragh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                        soluta
                        non
                        debitis tempora laborum perspiciatis architecto et accusamus dignissimos labore. Repudiandae
                        eveniet laborum
                        quibusdam doloribus magni totam dolor? Nihil laborum consequuntur commodi quae accusantium sed
                        sapiente
                        repellat quis voluptates qui!</p>


                    <p class="articleParagragh">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere
                        consequatur
                        fuga, quas rerum voluptatem eligendi asperiores veritatis, reiciendis quis labore sequi
                        reprehenderit porro
                        eos? Atque temporibus quia soluta nam ad saepe, enim ea aspernatur veniam corrupti quos
                        voluptatum error
                        doloribus.</p>


                    <div class="video">
                        <iframe width="100%" height="800" src="https://www.youtube.com/embed/_bqjjK-hwIU"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>





                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, blanditiis!</h2>


                    <p class="articleParagragh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eius ab,
                        velit laborum, illum doloremque vel in sapiente assumenda tenetur consequatur, amet accusamus
                        illo?
                        Pariatur nobis magni dicta ea temporibus.</p>


                    <p class="articleParagragh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ullam
                        esse
                        consequatur, saepe necessitatibus voluptas perferendis, tempora veritatis explicabo, amet iusto
                        dolore.
                        Suscipit non voluptatibus voluptas ab voluptate, totam molestias maxime consectetur! Quisquam
                        dolore
                        excepturi
                        ad inventore, cumque voluptatum libero magnam nostrum, dolor qui asperiores, est ullam aperiam
                        ut sint?</p>

                    <p class="articleParagragh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsa
                        nihil
                        facere adipisci aspernatur asperiores rem nemo nobis, quidem ea! Est, iste? Magni, repudiandae
                        illum est
                        praesentium ullam delectus aspernatur iusto, facilis unde voluptatem aliquam dolor dignissimos
                        non dolorem
                        molestiae voluptatum odit ad, provident corrupti?</p>



                    <img src="/images/batmanCombate.jpg" alt="">


                    <p class="articleParagragh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsa
                        nihil
                        facere adipisci aspernatur asperiores rem nemo nobis, quidem ea! Est, iste? Magni, repudiandae
                        illum est
                        praesentium ullam delectus aspernatur iusto, facilis unde voluptatem aliquam dolor dignissimos
                        non dolorem
                        molestiae voluptatum odit ad, provident corrupti?</p>



                    <p class="articleParagragh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsa
                        nihil
                        facere adipisci aspernatur asperiores rem nemo nobis, quidem ea! Est, iste? Magni, repudiandae
                        illum est
                        praesentium ullam delectus aspernatur iusto, facilis unde voluptatem aliquam dolor dignissimos
                        non dolorem
                        molestiae voluptatum odit ad, provident corrupti?</p>



                    <p class="articleParagragh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsa
                        nihil
                        facere adipisci aspernatur asperiores rem nemo nobis, quidem ea! Est, iste? Magni, repudiandae
                        illum est
                        praesentium ullam delectus aspernatur iusto, facilis unde voluptatem aliquam dolor dignissimos
                        non dolorem
                        molestiae voluptatum odit ad, provident corrupti?</p>



                    <p class="articleParagragh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsa
                        nihil
                        facere adipisci aspernatur asperiores rem nemo nobis, quidem ea! Est, iste? Magni, repudiandae
                        illum est
                        praesentium ullam delectus aspernatur iusto, facilis unde voluptatem aliquam dolor dignissimos
                        non dolorem
                        molestiae voluptatum odit ad, provident corrupti?</p>


                    <img src="/images/batimovil.jpg" alt="">



                    <p class="articleParagragh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ullam
                        esse
                        consequatur, saepe necessitatibus voluptas perferendis, tempora veritatis explicabo, amet iusto
                        dolore.
                        Suscipit non voluptatibus voluptas ab voluptate, totam molestias maxime consectetur! Quisquam
                        dolore
                        excepturi
                        ad inventore, cumque voluptatum libero magnam nostrum, dolor qui asperiores, est ullam aperiam
                        ut sint?</p>



                    <p class="articleParagragh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ullam
                        esse
                        consequatur, saepe necessitatibus voluptas perferendis, tempora veritatis explicabo, amet iusto
                        dolore.
                        Suscipit non voluptatibus voluptas ab voluptate, totam molestias maxime consectetur! Quisquam
                        dolore
                        excepturi
                        ad inventore, cumque voluptatum libero magnam nostrum, dolor qui asperiores, est ullam aperiam
                        ut sint?</p>



                    <p class="articleParagragh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsa
                        nihil facere adipisci aspernatur asperiores rem nemo nobis, quidem ea! Est, iste? </p>




                    <p class="articleParagragh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quis sit
                        iusto rerum quia excepturi?
                    </p>



                    <p class="articleParagragh">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>






                </div>




        </section>




        <!-- footer -->

        <%- include("./partials/footer.ejs") %>


</body>




</html>