<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ninja Gamer</title>

  <script src="https://kit.fontawesome.com/359284d803.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/mediaQueries.css" />
</head>

<body>
  <!-- header -->
 
  <%- include("./partials/header.ejs") %>

  <!-- main -->
  <div class="container">
    <main>
      <!-- opening -->
      <section class="opening">
        <!-- fig1 -->
        <figure>
          <a href="">
            <img class="crop" src="/images/hellblade.jpg" alt="" />
          </a>

          <div class="text">
            <a href="">
              <h4>HELLBLADE</h4>
            </a>

            <h2>Hellblade: Senua's Sacrifice</h2>
            <div class="author">
              <h5>Por Elías Rosenfeld</h5>
            </div>
          </div>
        </figure>

        <!-- fig2 -->
        <figure>
          <a href="">
            <img class="crop" src="/images/halo.jpeg" alt="" />
          </a>

          <div class="text">
            <a href="">
              <h4>HALO</h4>
            </a>

            <h2>Halo Infinite</h2>
            <div class="author">
              <h5>Por David Rosenberg</h5>
            </div>
          </div>
        </figure>

        <!-- fig3 -->
        <figure>
          <a href="">
            <img class="crop" src="/images/forza.jpg" alt="" />
          </a>

          <div class="text">
            <a href="">
              <h4>FORZA</h4>
            </a>

            <h2>Forza Horizon 5</h2>
            <div class="author">
              <h5>Por Nathan Coval</h5>
            </div>
          </div>
        </figure>
      </section>

      <!-- last news -->
      <section class="lastNews">
        <div class="title">
          <h1>Last News</h1>
        </div>

        <div class="lastNewsGallery">
          <article class="lastNewsArticle">
            <a href="/article/1"><img src="/images/<%= lastNewsIndex[0].imageA %>" alt="" class="lastNewsImage"/></a>
            <h2 class="lastNewsTitle"> <%= lastNewsIndex[0].title %> </h2>
            <p class="lastNewsText"><%= lastNewsIndex[0].subtitle %></p>
          </article>

          <article class="lastNewsArticle">
            <img src="/images/<%= lastNewsIndex[1].imageA %>" alt="" class="lastNewsImage" />
            <h2 class="lastNewsTitle"><%= lastNewsIndex[1].title %></h2>
            <p class="lastNewsText"><%= lastNewsIndex[1].subtitle %></p>
          </article>

          <article class="lastNewsArticle">
            <img src="/images/eternalDarkness.jpg" alt="" class="lastNewsImage" />
            <h2 class="lastNewsTitle">Title</h2>
            <p class="lastNewsText">Lorem ipsum dolor sit amet.</p>
          </article>

          <article class="lastNewsArticle">
            <img src="/images/cyberpunk.jpg" alt="" class="lastNewsImage" />
            <h2 class="lastNewsTitle">Title</h2>
            <p class="lastNewsText">Lorem ipsum dolor sit amet.</p>
          </article>

          <article class="lastNewsArticle">
            <img src="/images/sekiro.jpg" alt="" class="lastNewsImage" />
            <h2 class="lastNewsTitle">Title</h2>
            <p class="lastNewsText">Lorem ipsum dolor sit amet.</p>
          </article>

          <article class="lastNewsArticle">
            <img src="/images/scorn.jpeg" alt="" class="lastNewsImage" />
            <h2 class="lastNewsTitle">Title</h2>
            <p class="lastNewsText">Lorem ipsum dolor sit amet.</p>
          </article>

          <article class="lastNewsArticle">
            <img src="/images/eternalDarkness.jpg" alt="" class="lastNewsImage" />
            <h2 class="lastNewsTitle">Title</h2>
            <p class="lastNewsText">Lorem ipsum dolor sit amet.</p>
          </article>

          <article class="lastNewsArticle">
            <img src="/images/witcher.jpeg" alt="" class="lastNewsImage" />
            <h2 class="lastNewsTitle">Title</h2>
            <p class="lastNewsText">Lorem ipsum dolor sit amet.</p>
          </article>

          <article class="lastNewsArticle">
            <img src="/images/unreal.jpg" alt="" class="lastNewsImage" />
            <h2 class="lastNewsTitle">Title</h2>
            <p class="lastNewsText">Lorem ipsum dolor sit amet.</p>
          </article>

          <article class="lastNewsArticle">
            <img src="/images/Plague.jpeg" alt="" class="lastNewsImage" />
            <h2 class="lastNewsTitle">Title</h2>
            <p class="lastNewsText">Lorem ipsum dolor sit amet.</p>
          </article>
        </div>
      </section>

      <!-- podcasts -->
      <section class="podcasts">
        <div class="title">
          <h1>Podcasts</h1>
        </div>

        <div class="podcastsGallery">
          <article class="podcastsArticle">
            <img src="/images/alone.jpg" alt="" class="podcastsImage" />
            <h2 class="podcastsTitle">Title</h2>
            <p class="podcastsText">Lorem ipsum dolor sit amet.</p>
          </article>

          <article class="podcastsArticle">
            <img src="/images/anime.jpg" alt="" class="podcastsImage" />
            <h2 class="podcastsTitle">Title</h2>
            <p class="podcastsText">Lorem ipsum dolor sit amet.</p>
          </article>

          <article class="podcastsArticle">
            <img src="/images/gamescom.jpg" alt="" class="podcastsImage" />
            <h2 class="podcastsTitle">Title</h2>
            <p class="podcastsText">Lorem ipsum dolor sit amet.</p>
          </article>

          <article class="podcastsArticle">
            <img src="/images/kojima.jpg" alt="" class="podcastsImage" />
            <h2 class="podcastsTitle">Title</h2>
            <p class="podcastsText">Lorem ipsum dolor sit amet.</p>
          </article>
        </div>
      </section>

      <!-- staffPicks -->
      <section class="staffPicks">
        <div class="title">
          <h1>Staff Picks</h1>
        </div>

        <div class="staffPicksGallery">
          <div class="staffPicksContent">
            <article class="staffPicksArticle">
              <img src="/images/tokio.jpeg" alt="" />
              <div class="staffPicksInfo">
                <h1 class="staffPicksTitle">Title</h1>
                <p class="staffPicksText">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consequatur, quisquam?
                </p>
              </div>
            </article>

            <article class="staffPicksArticle">
              <img src="/images/tokio.jpeg" alt="" />
              <div class="staffPicksInfo">
                <h1 class="staffPicksTitle">Title</h1>
                <p class="staffPicksText">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consequatur, quisquam?
                </p>
              </div>
            </article>

            <article class="staffPicksArticle">
              <img src="/images/tokio.jpeg" alt="" />
              <div class="staffPicksInfo">
                <h1 class="staffPicksTitle">Title</h1>
                <p class="staffPicksText">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consequatur, quisquam?
                </p>
              </div>
            </article>

            <article class="staffPicksArticle">
              <img src="/images/tokio.jpeg" alt="" />
              <div class="staffPicksInfo">
                <h1 class="staffPicksTitle">Title</h1>
                <p class="staffPicksText">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consequatur, quisquam?
                </p>
              </div>
            </article>
          </div>

          <aside class="staffPicksSidebar">
            <div>
              <img class="staffPicksSidebarImage" src="/images/logo.jpg" alt="" />
              <a href="">
                <p class="staffPicksSidebarText">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Cum, quae!
                </p>
              </a>
            </div>

            <div>
              <img class="staffPicksSidebarImage" src="/images/logo.jpg" alt="" />
              <a href="">
                <p class="staffPicksSidebarText">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Nihil, voluptatem!
                </p>
              </a>
            </div>

            <div>
              <img class="staffPicksSidebarImage" src="/images/logo.jpg" alt="" />
              <a href="">
                <p class="staffPicksSidebarText">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Modi, praesentium?
                </p>
              </a>
            </div>

            <div>
              <img class="staffPicksSidebarImage" src="/images/logo.jpg" alt="" />
              <a href="">
                <p class="staffPicksSidebarText">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Modi, praesentium?
                </p>
              </a>
            </div>

            <div>
              <img class="staffPicksSidebarImage" src="/images/logo.jpg" alt="" />
              <a href="">
                <p class="staffPicksSidebarText">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Modi, praesentium?
                </p>
              </a>
            </div>
          </aside>
        </div>
      </section>

      <!-- last reviews -->
      <section class="lastReviews">
        <div class="title">
          <h1>Last Reviews</h1>
        </div>

        <div class="lastReviewsGallery">
          <article class="lastReviewsArticle">
            <img src="/images/alone.jpg" alt="" class="lastReviewsImage" />
            <!-- <div class="lastReviewsInfo">
                            <h2 class="lastReviewsTitle">Title</h2>
                            <p class="lastReviewsText">Lorem ipsum dolor sit amet.</p>                             -->
            <!-- </div>  -->
          </article>

          <article class="lastReviewsArticle">
            <img src="/images/anime.jpg" alt="" class="lastReviewsImage" />
            <!-- <div class="lastReviewsInfo">
                            <h2 class="lastReviewsTitle">Title</h2>
                            <p class="lastReviewsText">Lorem ipsum dolor sit amet.</p>
                        </div> -->
          </article>

          <article class="lastReviewsArticle">
            <img src="/images/gamescom.jpg" alt="" class="lastReviewsImage" />
            <!-- <div class="lastReviewsInfo">
                            <h2 class="lastReviewsTitle">Title</h2>
                            <p class="lastReviewsText">Lorem ipsum dolor sit amet.</p>
                        </div> -->
          </article>

          <article class="lastReviewsArticle">
            <img src="/images/kojima.jpg" alt="" class="lastReviewsImage" />
            <!-- <div class="lastReviewsInfo">
                            <h2 class="lastReviewsTitle">Title</h2>
                            <p class="lastReviewsText">Lorem ipsum dolor sit amet.</p>
                        </div> -->
          </article>
        </div>
      </section>

      <!-- carousel -->
      <section class="carousel">
        <div class="title">
          <h1>Tech Deals</h1>
        </div>

        <div class="carousel-container">
          <div class="carousel-inner">
            <div class="track">
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 2</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 3</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>

              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>

              <div class="card-container">
                <div class="card">
                  <img src="/images/joystick.jpg" alt="" />
                  <div class="info">Title 1</div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav">
            <button class="prev">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
            <button class="next">
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </section>

      <!-- news -->
      <section class="news">
        <div class="title">
          <h1>News</h1>
        </div>

        <div class="newsGallery">
          <article class="newsArticle">
            <img src="/images/batman.jpg" alt="" class="newsImage" />
            <div class="newsInfo">
              <h2 class="newsTitle">Title</h2>
              <p class="newsText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </article>

          <article class="newsArticle">
            <img src="/images/batman.jpg" alt="" class="newsImage" />
            <div class="newsInfo">
              <h2 class="newsTitle">Title</h2>
              <p class="newsText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita, at!
              </p>
            </div>
          </article>

          <article class="newsArticle">
            <img src="/images/batman.jpg" alt="" class="newsImage" />
            <div class="newsInfo">
              <h2 class="newsTitle">Title</h2>
              <p class="newsText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita, at!
              </p>
            </div>
          </article>

          <article class="newsArticle">
            <img src="/images/batman.jpg" alt="" class="newsImage" />
            <div class="newsInfo">
              <h2 class="newsTitle">Title</h2>
              <p class="newsText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita, at!
              </p>
            </div>
          </article>

          <article class="newsArticle">
            <img src="/images/batman.jpg" alt="" class="newsImage" />
            <div class="newsInfo">
              <h2 class="newsTitle">Title</h2>
              <p class="newsText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita, at!
              </p>
            </div>
          </article>

          <article class="newsArticle">
            <img src="/images/batman.jpg" alt="" class="newsImage" />
            <div class="newsInfo">
              <h2 class="newsTitle">Title</h2>
              <p class="newsText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita, at!
              </p>
            </div>
          </article>

          <article class="newsArticle">
            <img src="/images/batman.jpg" alt="" class="newsImage" />
            <div class="newsInfo">
              <h2 class="newsTitle">Title</h2>
              <p class="newsText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita, at!
              </p>
            </div>
          </article>

          <article class="newsArticle">
            <img src="/images/batman.jpg" alt="" class="newsImage" />
            <div class="newsInfo">
              <h2 class="newsTitle">Title</h2>
              <p class="newsText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita, at!
              </p>
            </div>
          </article>

          <article class="newsArticle">
            <img src="/images/batman.jpg" alt="" class="newsImage" />
            <div class="newsInfo">
              <h2 class="newsTitle">Title</h2>
              <p class="newsText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita, at!
              </p>
            </div>
          </article>
        </div>
      </section>
    </main>
  </div>

  <!-- footer -->

  <%- include("./partials/footer.ejs") %> 

  <script src="/javascripts/index.js"></script>
</body>

</html>