<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>

    <script src="https://kit.fontawesome.com/359284d803.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/mediaQueries.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/article.css">
    <link rel="stylesheet" href="/stylesheets/review.css">


</head>

<body>

    <!-- header -->

    <%- include("./partials/header.ejs") %>

        <!-- article -->

        <section class="article">
            <h1>
                <%= review.title %>
            </h1>

            <h2>
                <%= review.subtitleA %>
            </h2>

            <p>
                <%= review.date %>
            </p>


            <div class="articleBody">

                <div class="articleMain">

                    <div>
                        <% for( let i=0; i < 4; i++ ) { %>
                            <p>
                                <%= review.paragraphsA[i] %>
                            </p>
                            <% } %>
                    </div>

                    <div class="video">
                        <iframe width="100%" height="600" src="<%=review.videoA %>" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>


                    <h2>
                        <%= review.subtitleB %>
                    </h2>


                    <div>
                        <% for( let i=0; i < 3; i++ ) { %>
                            <p>
                                <%= review.paragraphsB[i] %>
                            </p>
                            <% } %>
                    </div>



                    <img src="/images/reviews/<%= review.imageB %> " alt="">


                    <div>
                        <% for( let i=0; i < 5; i++ ) { %>
                            <p>
                                <%= review.paragraphsC[i] %>
                            </p>
                            <% } %>
                    </div>

                    <img src="/images/reviews/<%= review.imageC %>" alt="">


                    <div>
                        <% for( let i=0; i < 4; i++ ) { %>
                            <p>
                                <%= review.paragraphsD[i] %>
                            </p>
                            <% } %>
                    </div>

                    <div class="reviewBreakdown">
                        <div class="reviewScore">
                            <div class="scoreNumber">
                                <p>
                                    <%= review.scoreNumber %>
                                </p>
                                <h3>
                                    <%= review.scoreText %>
                                </h3>
                            </div>

                        </div>
                        <div class="reviewBreakdownList">
                            <h3>The Good</h3>
                            <ul>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            </ul>

                            <h3>The bad</h3>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                            </ul>


                        </div>

                    </div>


                </div>


                <aside class="sideArticle">

                    <p class="articleParagragh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsa
                        nihil facere adipisci aspernatur asperiores rem nemo nobis, quidem ea! Est, iste? </p>




                    <p class="articleParagragh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quis sit
                        iusto rerum quia excepturi?
                    </p>



                    <p class="articleParagragh">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero consequatur recusandae reprehenderit dolores inventore! Rem non alias debitis hic nulla, illum cupiditate dignissimos numquam! Rerum dignissimos repellendus quidem earum, laboriosam assumenda quo dolor sapiente sit in eligendi iste at recusandae beatae mollitia alias ipsa iure sed? Facere tempore quidem repudiandae.
                    </p>


                </aside>




        </section>





        <!-- footer -->
        <%- include("./partials/footer.ejs") %>

</body>

</html>